.Buy {
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
}

.Buy img {
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.Buy h3 {
  margin: 10px 0;
  color: #007bff;
}

.Buy input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.Buy input:focus {
  outline: none;
  border-color: #007bff;
}

.Buy button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.incrementBtn {
  background-color: #4caf50;
}

.decrementBtn {
  background-color: #f44336;
}
.cardInput,
.expiryInput,
.cvvInput {
  width: 100%;
  box-sizing: border-box;
}
